<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <link rel="icon" href="/branding/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="index,follow,notranslate"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:image" content="{{ og_image }}"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <link rel="stylesheet" href="/branding/branding.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/theme.css"/>
    <meta name="site-config" content="{{ site_config_json }}"/>
    <script defer="" src="/assets/js/bundle.js"></script>
    {% for item in content_templates %}
    <template id="{{ item.template_id }}">
{{ item.html|safe }}
    </template>
    {% endfor %}
  </head>
  <body>
    <header id="topbar">
      <div id="topbar-branding">
        <a id="topbar-branding-link" href="/">
          <span id="topbar-branding-icon">
            <span class="inner">logo</span>
          </span>
          <span id="topbar-branding-logotype">
            <span class="inner">{{ site_name }}</span>
          </span>
        </a>
      </div>
      <nav id="topbar-navigation">
        <ul>{% for item in header_navigation %}<li><a href="{{ item.url }}">{{ item.text }}</a></li>{% endfor %}</ul>
      </nav>
    </header>
    <div id="content">
{{ content_html|safe }}
    </div>
    <footer id="global-footer">
      <div id="global-footer-branding">
        <div id="global-footer-branding-logo">logo</div>
        <div id="global-footer-branding-description">{{ site_description }}</div>
        <div id="global-footer-branding-legal">{{ site_copyright }}</div>
      </div>
      <nav id="global-footer-navigation">
        <ul>{% for item in footer_navigation %}<li><a href="{{ item.url }}">{{ item.text }}</a></li>{% endfor %}</ul>
      </nav>
    </footer>
  </body>
</html>