<div class="template-content template-content-post-list-item" lang="{{ channel_lang }}">
    <div class="post-channel">
        <a href="/c/{{ channel_handle }}/"><span class="post-channel-name">{{ channel_name }}</span></a>
        <a class="post-channel-handle-outer" href="/c/{{ channel_handle }}/">@<span class="post-channel-handle">{{ channel_handle }}</span></a>
    </div>
    <h2 class="post-title"><a href="/c/{{ channel_handle }}/{{ post_uuid }}/">{{ title }}</a></h2>
    <p class="post-date"><time datetime="{{ date_value }}">{{ date }}</time></p>
    <div class="post-author">
        <a href="/authors/{{ author_uuid }}/">
            <span class="post-author-name">{{ author_name }}</span>
            <span class="post-author-uuid">{{ author_uuid }}</span>
        </a>
    </div>
</div>